@import "src/style/base.scss";

.project-text {
  width: 100vw;
  height: 100vh;
  padding: 160px 0;
  background: $color-black;
  color: white;
  text-align: center;

  @include breakpoint(small) {
    padding-top: 0;
  }

  p + p {
    margin-top: $unit300;
  }
}
