@import "src/style/base.scss";

.project-card {
  width: inherit;

  a {
    color: $color-white !important;
    text-decoration: none;

    .project--featured-media {
      height: calc(100vh - (96px + 73px));
    }

    .project--information {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: $unit400;
      padding-bottom: $unit200;
      border-bottom: 2px solid transparent;

      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: right;
        opacity: 0.8;
      }

      @include breakpoint(small) {
        flex-direction: column;

        .right {
          text-align: left;
          margin-top: 8px;
        }
      }
    }

    &:hover {
      .project--information {
        border-color: white;
      }
    }
  }

  &:not(:first-of-type) {
    .new-post {
      display: none;
      visibility: hidden;
    }
  }
}
