@import "src/style/base.scss";

.project-hero {
  width: 100vw;
  height: 100vh;
  display: flex;

  @include breakpoint(small) {
    height: 100vh;
    display: block;
  }

  .project-hero--img {
    height: 100vh;
    position: static !important;
    z-index: 0;
    object-position: top;

    img,
    picture {
      max-width: 100vw;
      max-height: 100vh;
    }
  }
}
