@import "src/style/base.scss";

.project-hero {
  width: 100vw;
  height: 100vh;
  display: flex;

  @include breakpoint(small) {
    height: 100vh;
    display: block;
  }

  .information {
    height: 100vh;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    flex-direction: column;

    @include breakpoint(large) {
      width: calc(100vw - (48px * 2)) !important;
    }

    @include breakpoint(medium) {
      width: calc(100vw - (32px * 2)) !important;
    }

    @include breakpoint(small) {
      width: calc(100vw - (24px * 2)) !important;
    }

    h1,
    h3 {
      width: inherit;
      animation: FadeHeroText 3s ease-out 0.6s 1 normal both;
      word-wrap: break-word;
      -ms-word-wrap: break-word;
    }

    h3 {
      margin-bottom: $unit300;
    }
  }

  .project-hero--img {
    height: 100vh;
    position: static !important;
    z-index: 0;
    animation: FadeHeroImg 0.75s ease-out 3s 1 normal both;
    object-position: top;

    img,
    picture {
      max-width: 100vw;
      max-height: 100vh;
    }
  }
}

@keyframes FadeHeroText {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes FadeHeroImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
