@import "src/style/base.scss";

#music,
#bucketlist {
  width: inherit;
  min-height: 100vh;
  display: flex;

  h1 {
    align-self: center;
  }
}

#music {
  p {
    margin-top: $unit500;
    opacity: 0.4;
  }
}

#bucketlist {
  .item.done {
    color: #ffffff5c !important;
  }
}
