@import "src/style/base.scss";

#music,
#bucketlist {
  width: inherit;
  min-height: 100vh;
  display: flex;

  h2 {
    @extend h1;
    align-self: center;
  }

  @include breakpoint(small) {
    padding-top: 10vh;
    height: auto !important;

    h2 {
      align-self: flex-start;
    }
  }
}

#music {
  p {
    margin-top: $unit500;
    opacity: 0.4;
  }
}

#bucketlist {
  .item.done {
    opacity: 0.5;
  }
}
