@import "src/style/base.scss";

.project-card {
  width: inherit;

  a {
    color: $color-white !important;
    text-decoration: none;

    &:hover {
      color: $color-white !important;
    }

    .project--featured-media {
      height: calc(100vh - (96px + 73px));
    }

    .project--information {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: $unit400;

      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: right;
        opacity: 0.8;

        p {
          font-variant-numeric: tabular-nums;
        }
      }

      @include breakpoint(small) {
        flex-direction: column;

        .right {
          text-align: left;
          margin-top: 8px;
        }
      }
    }
  }
}
