@import "src/style/base.scss";

.project-card {
  width: inherit;

  a {
    color: $color-white !important;
    text-decoration: none;

    &:hover {
      color: $color-white !important;
    }

    .project--featured-media {
      height: calc(100vh - (96px + 73px));
    }

    .project--information {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: $unit400;

      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: right;
        opacity: 0.8;
      }

      @include breakpoint(small) {
        flex-direction: column;

        .right {
          text-align: left;
          margin-top: 8px;
        }
      }
    }
  }

  .new-project-indicator {
    height: 120px;
    width: 120px;
    padding: $unit200;
    box-sizing: content-box;
    display: flex;
    transform: translateX(-28px) translateY(-32px);
    position: absolute;
    right: 0;
    z-index: 1;
    align-items: center;
    font-size: 1.2rem;
    text-align: center;

    .new-project-indicator__border {
      height: inherit;
      width: inherit;
      border: 2px dashed $color-white;
      border-radius: 50%;
      position: absolute;
      animation: NewProjectIndicator 8s linear infinite;
      animation-play-state: running;
    }

    span {
      margin-top: -8px;
      color: $color-white;
      transform: rotate(20deg);
    }
  }

  &:not(:first-of-type) {
    .new-project-indicator {
      display: none;
    }
  }
}
