@import "src/style/base.scss";

.hero {
  height: 100vh;
  width: 100vw;
  background-color: $color-pale-yellow;
  display: flex;
  padding: $unit300;

  h1 {
    width: inherit;
    transform: skewY(-2deg);
    color: $color-black;

    span {
      margin-top: 0;
      display: inline-block;
      animation-name: fadeIn;
      animation-timing-function: cubic-bezier(0.21, 0, 0.02, 1.17);
      animation-fill-mode: backwards;
      animation-iteration-count: 1;
      animation-duration: 0.5s;

      transform: translateX(0px);

      // Delays
      &:nth-of-type(1) {
        animation-delay: 0.15s * 1;
      }

      &:nth-of-type(2) {
        animation-delay: 0.15s * 2;
      }

      &:nth-of-type(3) {
        animation-delay: 0.15s * 3;
      }

      &:nth-of-type(4) {
        animation-delay: 0.15s * 4;
      }

      &:nth-of-type(5) {
        animation-delay: 0.15s * 5;
      }

      @media (prefers-reduced-motion: reduce) {
        animation: none !important;
      }
    }

    &.tablet {
      display: none;
    }
  }

  @include breakpoint(small) {
    padding: $unit200;

    // Hide heading on mobile
    h1 {
      &.desktop {
        display: none !important;
      }

      &.tablet {
        display: block !important;
      }
    }
  }

  .Wrapper {
    margin-left: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
