@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@3/distr/fira_code.css);

.wp-block-code {
  background-color: #3d424d66;
  padding: 24px;
  margin: 1.5rem 0;

  code {
    font-size: 0.8rem;
    font-family: "Fira Code", monospace;
    color: rgba($color: #fff, $alpha: 0.7);

    @supports (font-variation-settings: normal) {
      font-family: "Fira Code VF", monospace;
    }
  }
}
