@import "../base.scss";

.error {
  height: 100vh;
  display: flex;
  background-color: $color-black;
  padding: $unit300;

  .Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1,
    h5,
    p {
      color: $color-white;
    }

    @include breakpoint(small) {
      height: 100vh;

      button {
        width: calc(100vw - 48px) !important;
        position: absolute;
        left: $unit300;
        bottom: $unit300;
      }
    }

    p {
      margin: $unit400 0;
      font-size: 22px;

      @include breakpoint(small) {
        font-size: 20px;
      }
    }
  }
}
