// ===
// FOOTER
// ===

@import "../utilities/_units";
// @import "../utilities/_animations";

footer {
  width: 100vw;
  height: 100vh;
  background: $color-black;
  color: $color-white;
  display: flex;
  flex-direction: column;
  padding: 0 $unit500 $unit500;

  @include breakpoint(medium) {
    padding: 0 $unit400 $unit400;
  }

  @include breakpoint(small) {
    padding: 0 $unit300 $unit300;
  }

  * {
    color: $color-white;
  }

  .contact,
  .bottom-row {
    width: 100%;
    display: inline-flex;
  }

  .contact {
    height: 90vh;
    flex-direction: column;
    justify-content: center;

    h1 {
      margin: $unit200 0;
    }

    a {
      .call-me {
        display: inline-block;
        margin-left: 12px;
        transition: 0.1s ease-in-out all;
        transform-origin: 5% 65%;
      }

      &:hover .call-me {
        transform: rotate(-10deg);
      }
    }
  }

  .bottom-row {
    flex-direction: row;
    align-self: flex-end;
    justify-content: space-between !important;

    .social-links {
      a {
        font-size: 1rem !important;

        & + a {
          margin-left: $unit400;
        }

        @include breakpoint(medium) {
          font-size: 0.9rem !important;

          & + a {
            margin-left: $unit300;
          }
        }
      }
    }

    // Mobile
    @include breakpoint(medium) {
      height: auto !important;
      flex-direction: column;
      justify-content: space-evenly;
      background: red;

      .copyright {
        order: 3;
        margin-top: $unit300;
        position: relative;
        background: green;
      }

      .made-with {
        order: 2;
        margin-top: $unit300;
        position: relative;
        background: blue;
      }

      .social-links {
        display: flex;
        flex-direction: column;
        order: 1;
        position: relative;

        a {
          background: purple;
          width: fit-content;

          & + a {
            margin-left: 0;
            margin-top: $unit200;
          }

          &:nth-of-type(2n) {
            background: peru;
          }
        }
      }
    }
  }
}
