// ===
// FOOTER
// ===

@import "../utilities/_units";

footer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 $unit500 $unit500;

  @include breakpoint(medium) {
    padding: 0 $unit400 $unit400;
  }

  @include breakpoint(small) {
    padding: 0 $unit300 $unit300;
  }

  .contact,
  .bottom-row {
    width: 100%;
  }

  .contact {
    display: inline-flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;

    h1 {
      margin: $unit200 0;
    }

    a {
      .call-me {
        display: inline-block;
        margin-left: 12px;
        transform-origin: 5% 65%;
      }

      &:hover .call-me {
        transform: rotate(-10deg);
      }
    }
  }

  // Bottom row -> Social links, credits and copyright
  .bottom-row {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include breakpoint(medium) {
      justify-content: unset;
      flex-direction: column;
    }

    .social-links {
      display: flex;
      flex-direction: row;

      a {
        @extend p;

        & + a {
          margin-left: $unit300;
        }
      }

      @include breakpoint(medium) {
        height: fit-content;
        flex-direction: column;
        justify-self: flex-start;
        position: relative;
        bottom: 80px;

        a + a {
          margin-left: 0;
          margin-top: $unit200;
        }
      }
    }

    .copyright {
      @include breakpoint(medium) {
        order: 3;
      }
    }

    .made-with {
      @include breakpoint(medium) {
        order: 2;
        margin: $unit400 0;
      }
    }
  }
}
