// ===
// HEADER
// ===

header {
  width: 100vw;
  padding: $unit500;
  box-sizing: border-box;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 999999 !important;
  mix-blend-mode: difference;

  @include breakpoint(medium) {
    padding: $unit400;
  }

  @include breakpoint(small) {
    padding: $unit300;
  }

  svg {
    height: 100px;
    fill: $color-white;
    transform: translateX(-0.5px);

    @include breakpoint(small) {
      height: 80px;
    }
  }

  nav {
    width: auto;

    ul {
      list-style: none;
      display: inline-flex;
      margin-top: 0;

      a {
        @extend p;
        font-size: 1rem;
        color: $color-white;
        text-decoration-color: transparent;

        &:active,
        &:hover {
          color: $color-white;
          text-decoration-color: $color-white;
        }
      }

      li + li {
        margin-left: $unit300;

        @include breakpoint(small) {
          margin-left: $unit200;
        }
      }
    }
  }
}
