@import "../utilities/units";

// ===
// LAYOUT
// ===

.layout {
  padding: 0 $unit500;

  @include breakpoint(larger) {
    max-width: 2560px;
    margin: 0 auto;
  }

  @include breakpoint(medium) {
    padding: 0 $unit400;
  }

  @include breakpoint(small) {
    padding: 0 $unit300;
  }
}
