@import "src/style/base.scss";

button {
  width: fit-content;
  padding: $unit200 $unit300;
  font-family: "Calibre";
  border: none;
  cursor: pointer;
  outline: none;
  @extend p;
  transition: filter 0.2s ease;

  @include breakpoint(small) {
    width: 100%;
    min-height: 50pt;
  }

  a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
  }

  &.button-primary {
    background-color: $color-white;
    color: rgba($color-black, 1) !important;
  }

  &.button-secondary {
    background-color: $color-black;
    color: rgba($color-white, 1) !important;
  }

  &.button-danger {
    background-color: rgb(236, 68, 68);
    color: rgba($color-white, 1) !important;
  }

  &.button-small {
    padding: 10px $unit200 !important;
    font-size: 16px !important;
  }

  &.button-repo {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
      height: 1rem;
      width: 1rem;
      margin-right: 0.5rem;
    }
  }

  &:hover {
    filter: brightness(0.9);
  }
}

.button-link {
  color: $color-black;
  background-color: $color-white;
  padding: $unit200 $unit300;
  border-radius: $unit100 / 4;
  font-size: 1rem;
}
