@import "src/style/base.scss";

.project-title {
  width: 100%;
  display: inline-block;
  margin: $unit600 0 $unit800;

  @include breakpoint(large) {
    margin: $unit400 0 $unit600;
  }
}

.project-content {
  width: 100%;
  display: flex;
  flex-direction: row;

  @include breakpoint(large) {
    flex-direction: column;
  }

  .project-content--information {
    height: fit-content;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;

    @include breakpoint(large) {
      width: inherit;
      margin-right: 0;
      margin-bottom: $unit500;
    }

    .project-content--information-block {
      width: 100px;
      min-width: $unit700;

      & + .project-content--information-block {
        margin-top: 0.2rem;
      }
    }
  }

  .project-content--content {
    width: 100%;
    display: flex;
    flex-direction: column;

    p {
      margin: 0 auto;
      max-width: 768px;

      @include breakpoint(large) {
        margin: 0;
      }

      & + figure {
        margin-top: 10vh;

        @include breakpoint(large) {
          margin-top: 64px;
        }
      }

      &.lead {
        @extend h5;

        & + .lead {
          padding-top: 1.8rem;
        }

        &:last-of-type {
          padding-bottom: 180px;

          @include breakpoint(large) {
            padding-bottom: 0;
          }
        }
      }
    }

    figure {
      width: inherit;
      display: flex;
      margin-left: -100px;

      @include breakpoint(small) {
        flex-direction: column;
      }

      @include breakpoint(large) {
        margin-left: 0;
      }

      & + figure {
        margin-top: $unit500;

        @include breakpoint(large) {
          margin-top: $unit400;
        }

        @include breakpoint(small) {
          margin-top: $unit300;
        }
      }

      img {
        margin: 0 auto;
        width: auto;
        height: auto;
      }

      &.size-large {
        img {
          width: 100%;
        }

        @include breakpoint(small) {
          img {
            width: 100%;
          }
        }
      }

      &.size-full {
        width: 100vw;
        transform: translateX(-48px);

        @include breakpoint(small) {
          width: 100%;
          transform: none;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      &.square {
        img {
          max-width: 640px;
          max-height: 640px;

          @include breakpoint(small) {
            width: 100%;
            height: 100%;
          }
        }
      }

      & > figcaption {
        width: 30%;
        padding: 1rem;
        padding-left: 1.2rem;
        display: flex;
        align-content: space-between;

        &::before {
          @extend .arrow;
          content: "\2190";
          margin-right: 1rem;
          opacity: 0.7;
        }

        @include breakpoint(small) {
          width: 100%;
          padding: 1rem 0.5rem;
          font-size: 0.9rem;

          &::before {
            content: "\2191";
            margin-right: 0.5rem;
          }
        }
      }

      & + p {
        margin-top: 10vh;
      }
    }
  }
}
