@import "src/style/base.scss";

.project-content {
  width: inherit;
  display: block;

  p {
    max-width: 75ch;

    & + figure {
      margin-top: 10vh;
    }

    &.lead {
      @extend h4;

      &:first-of-type {
        margin-top: 30vh;
      }

      & + .lead {
        margin-top: 1.8rem;
      }

      &:last-of-type {
        margin-bottom: 30vh;
      }
    }
  }

  figure {
    max-width: inherit;
    display: flex;

    & + figure {
      margin-top: $unit500;

      @include breakpoint(medium) {
        margin-top: $unit400;
      }

      @include breakpoint(small) {
        margin-top: $unit300;
      }
    }

    img {
      margin: 0 auto;
      width: auto;
      height: auto;
    }

    &.size-large {
      img {
        width: 100%;
      }

      @include breakpoint(small) {
        img {
          width: 100%;
        }
      }
    }

    &.size-full {
      width: 100vw;
      height: 100%;
      transform: translateX(-48px);

      @include breakpoint(small) {
        width: 100%;
        height: auto;
        transform: none;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &.square {
      img {
        max-width: 800px;
        max-height: 800px;

        @include breakpoint(small) {
          width: 100%;
          height: 100%;
        }
      }
    }

    & > figcaption {
      width: 30%;
      padding: 1rem;
      padding-left: 1.2rem;
      display: flex;
      align-content: space-between;

      @include breakpoint(small) {
        width: 100%;
      }

      &::before {
        @extend .arrow;
        content: "\2190";
        margin-right: 1rem;
        opacity: 0.7;
      }
    }

    & + p {
      margin-top: 10vh;
    }
  }
}
