// ===
// ANIMATIONS
// ===

// Mixin
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
// ---
// @include keyframes(NAME) {
//   […]
// }

// ANIMATIONS

@include keyframes(HeadingIn) {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

// SAL ANIMATIONS
:root {
  --sal-duration: 0.6s;
  --sal-delay: 0.3s;
  --sal-easing: cubic-bezier(0.23, 1, 0.32, 1);
}
