@font-face {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: url("/Inter-Regular.woff") format(woff),
    url("/Inter-Regular.woff2") format(woff2), local("Inter") format(ttf);
}

@font-face {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  src: url("/Inter-Medium.woff") format(woff),
    url("/Inter-Medium.woff2") format(woff2), local("Inter Medium") format(ttf);
}

@font-face {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
  src: url("/Inter-SemiBold.woff") format(woff),
    url("/Inter-SemiBold.woff2") format(woff2),
    local("Inter Semibold") format(ttf);
}

@font-face {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  src: url("/Inter-Black.woff") format(woff),
    url("/Inter-Black.woff2") format(woff2), local("Inter Black") format(ttf);
}

@font-face {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
  src: url("/Inter-BlackItalic.woff") format(woff),
    url("/Inter-BlackItalic.woff2") format(woff2),
    local("Inter Black Italic") format(ttf);
}
