// Dear reader,
// This is in a bit of a state. I know.
// In my defence I kind of rushed this, and
// everything will be improved later on.
// Now bugger off.

// Components
@import "./components/_buttons";

// Fonts
@import "./typography/_fontface";
@import "./typography/_typography";
@import "./typography/_links";

// Layout
@import "./layout/_footer";
@import "./layout/_header";
@import "./layout/_layout";
@import "./layout/_navigation";

// Utilities
@import "./utilities/_animations";
@import "./utilities/_breakpoints";
@import "./utilities/_mixins";
@import "./utilities/_units";

// Normalize
* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Calibre", "Inter" !important;

  // Remove all animations and transitions for users
  // who prefers reduced motion. ".keep-motion" allows
  // for essential animations/transitions to be kept,
  // such as page transitions.
  @media (prefers-reduced-motion: reduce) {
    &:not(.keep-motion) {
      transition: none !important;
      animation: none !important;
      -webkit-animation: none !important;
      -moz-animation: none !important;
      -o-animation: none !important;
    }
  }
}

body {
  background-color: $color-black !important;
}
