// Components
@import "./components/_buttons";

// Fonts
@import "./typography/_typography";
@import "./typography/_links";

// Layout
@import "./layout/_footer";
@import "./layout/_header";
@import "./layout/_layout";
@import "./layout/_navigation";

// Utilities
@import "./utilities/_breakpoints";
@import "./utilities/_mixins";
@import "./utilities/_units";

// Special pages
@import "./_projectpage";

// Normalize
* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  // Remove all animations and transitions for users
  // who prefers reduced motion
  @media (prefers-reduced-motion: reduce) {
    .no-motion {
      transition: none !important;
      animation: none !important;
    }
  }
}
