@import "./_colors";
@import "./utilities/_units";
@import "./utilities/_animations";

.layout.project {
  animation-name: ProjectPageFade;
  animation-duration: $normal;
  animation-fill-mode: backwards;
  animation-delay: 0.8s;
  animation-timing-function: $ease-out;
  background: $color-black !important;

  .project-hero--img {
    animation-name: ProjectHeroFade;
    animation-duration: $normal;
    animation-fill-mode: backwards;
    animation-delay: 0.6s;
    animation-timing-function: $ease-out;
  }
}

@include keyframes(ProjectPageFade) {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  98% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}
