@import "src/style/base.scss";

.project-grid {
  width: inherit;
  height: auto;
  display: block;

  h2 {
    margin-bottom: $unit600;
  }

  .project-card + .project-card {
    margin-top: $unit800;
  }
}
