@import "src/style/base.scss";

.project-grid {
  width: 100vw;
  height: auto;
  display: block;
  padding: $unit700;
  background-color: $color-black !important;

  // Animation
  animation-name: fadeProjects;
  animation-timing-function: $ease-in-out;
  animation-duration: $slow;
  animation-fill-mode: both;

  @include breakpoint(large) {
    padding: $unit500 !important;

    .Wrapper {
      margin: 0 !important;
    }
  }

  @include breakpoint(small) {
    padding: 0 !important;
  }
}

@keyframes fadeProjects {
  from {
    padding-top: 50vh;
  }
  to {
    padding-top: 0;
  }
}
