@import "src/style/base.scss";

.project-grid {
  width: 100vw;
  height: auto;
  display: block;
  padding: $unit700;
  background-color: $color-black !important;

  @include breakpoint(large) {
    padding: $unit500 !important;

    .Wrapper {
      margin: 0 !important;
    }
  }

  @include breakpoint(small) {
    padding: 0 !important;
  }
}
