@import "../../../style/utilities/mixins";

.new-post-indicator {
  height: 160px;
  width: 160px;
  padding: 16px;
  position: absolute;
  right: 1rem;
  transform: translateY(-2rem);
  z-index: 1;
  mix-blend-mode: difference;
  fill: white;
  animation: NewProjectIndicator 3s infinite running linear;
  transition: transform;
}
