@import "../colors";
@import "../utilities/units";

a {
  @extend p;
  text-decoration-color: transparent;
  font-size: inherit; // If extended on a different tag, inherit size

  &:active,
  &:hover {
    text-decoration-color: $color-white;
  }
}

.link-active {
  text-decoration: underline;
  text-decoration-color: inherit;
  color: inherit;
}
