// ===
// TYPOGRAPHY
// ===

@import "../utilities/_mixins";

// Arrow variables
$arrow-left: "\2190";
$arrow-up: "\2191";
$arrow-right: "\2192";
$arrow-down: "\2193";

// SIZES
html {
  font-size: 125%;
}

body {
  font-size: 22px;
  font-family: "Calibre", "Inter", sans-serif;

  .arrow {
    font-family: "Inter arrows", sans-serif;
  }

  * {
    color: white !important;
  }
}

// STYLES

h1,
h1.display,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

h1 {
  font-size: 4.2rem;
  line-height: 1;

  @include breakpoint(medium) {
    font-size: 2.7rem;
  }

  &.display {
    font-size: 6rem;

    @include breakpoint(medium) {
      font-size: 3.2rem !important;
    }
  }
}

h2 {
  font-size: 3.1rem;

  @include breakpoint(medium) {
    font-size: 2.2rem;
  }
}

h3 {
  font-size: 2.3rem;

  @include breakpoint(medium) {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 1.8rem;

  @include breakpoint(medium) {
    font-size: 1.4rem;
  }
}

h5 {
  font-size: 1.36rem;

  @include breakpoint(medium) {
    font-size: 1.2rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.2;

  @include breakpoint(medium) {
    font-size: 0.9rem;
  }
}
